.post-id {
  width: 80px;
}

.alnleft { 
  text-align: left; 
}

.alnright { 
  text-align: right; 
}

.alncenter { 
  text-align: center; 
}

a {
  text-decoration: none !important;
  display: inline-block;
}

/* ============================== tab-primary =========================*/
.tab-primary {
  margin: 35px 0;
  text-align: center;
}

.tab-primary li {
  float: none;
  display: inline-block;
}

.tab-primary li a {
  margin: 0;
  padding: 10px 30px;
  border-radius: 0px;
  border-bottom: 1px solid;
  border-color: #EEDDDD;
  color: #696969;
}

.tab-primary > li.active > a,
.tab-primary > li.active > a:hover,
.tab-primary > li.active > a:focus {
  color: #000;
  background-color: white;  
  border-bottom: 5px solid;
  border-color: #984b4b;
  font-weight: bold;
}