<div class="container">
 
  <%= render "admin/aaa/tabbar", selected_item: '人員維護' %>

  <br>

  <table class="table" data-toggle="table">
    <thead>
      <tr>
        <th>姓名</th>
        <th>狀態</th>
        <th>功能</th>
      </tr>
    </thead>
    <tbody>          
      <% @users.each do |user| %>
        <tr>         
          <td><%= user.name %></td>
          <td>
            <% if user.admin? %>
              <span class="label label-danger">管理員</span>
            <% else %>
              <span class="label label-success">一般使用者</span>
            <% end %>
          </td>
          <td class="data-table">
            <% if user.admin? %>
              <%= link_to '轉換成一般使用者'.html_safe, to_normal_admin_user_path(user), method: :post %>
            <% else %>
              <%= link_to '升級為管理員'.html_safe, to_admin_admin_user_path(user), method: :post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
    
</div>