<div class="container">
 
  <%= render "admin/aaa/tabbar", selected_item: '人員維護' %>

  <br>

  <table class="table" data-toggle="table">
    <thead>
      <tr>
        <th>姓名</th>
      </tr>
    </thead>
    <tbody>          
      <% @users.each do |user| %>
        <tr>         
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  
    
</div>